header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
body{
    background: #80002A;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .40s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}


body{
    background: #80002A;
}

section{
    padding: 0 20%;
    margin-top: 20px;
}

.heading{
    text-align: center;
    margin-top: 100px;
}

.heading h2{
    font-size: 50px;
    font-weight: 400;
    color: #FA9C1B;
    font-family: 'Bungee', sans-serif;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, auto));
    grid-gap: 1.0rem;
    align-items: center;
}

.box{
    position: relative;
    margin-top: 0rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-img{
    width: 600px;
    height: 600px;
    border: 5px solid #FFFED3;
}

.box-img img{
    width: 100%;
    height: 100%;
}

.box h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: #FFFED3;
    font-family: 'Bungee', sans-serif;
}